.WholePageContainer{
    /* border: 2px solid red; */
    display: flex;
    min-height: 100vh;
}


.LeftPartContainer{
/* border: 2px solid magenta; */
width: 30%;
display: flex;
flex-direction: column;
height: 754px;
}


.LeftPartContainer > img{
    height: 100%;
    width: 100%;
    border: none;
}

.RightPartContainer{
/* border: 2px solid rgb(30, 220, 20); */
width: 70%;
/* min-height: 350px; */
background: rgb(22, 21, 21);
display: flex;
flex-direction: column;
}

/* Right part */

.NavbarContainer{
    /* border: 2px solid yellow; */
    color: white;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    margin-top: 1%;


}

.LeftPartNavbar{
    height: 80%;
    width: 40%;
    /* border: 2px solid rgb(0, 217, 250); */
    display: flex;
    /* padding: 5%; */
}

.LeftPartNavbar > img{
    height: 100%;
    width: 10%;
    margin-left: 5%;
}

.LeftPartNavbar > div{

    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    font-size: 32px;
    margin-left: 5%;
}   



/*Right part*/

.RightPartNavbar{
    /* border: 2px solid mediumorchid; */
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
}


.FormContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding: 5%;
}

.FormHolder{
    /* border: 2px solid green; */
    width: 50%;
    height: 570px;
    color: whitesmoke;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.612);
    box-shadow: 2px 2px 12px rgba(51, 47, 47, 0.737);
    display: flex;
    flex-direction: column;
    align-items: center;

}